@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&family=Roboto:wght@400;500&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {

    --primaryColor: #d4a561;
    --black: black;

}


body {
    font-family: 'Roboto', sans-serif;
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}




/* header section styles */
header {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.banner-video {
    width: 100%;
    height: 100%;
}


.banner-video video {
    width: 100% !important;
    object-fit: cover;
}

.banner-video::after {
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0 !important;
    left: 0;
    color: white;
}

header {
    width: 100%;
    height: 100%;
}

.navigation {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.navigation .flex-box {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navigation {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999999999999;
}

.nav-items nav {
    display: flex;
    z-index: 666666666;
}

.nav-items nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999999999999999;
}


.nav-items ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.nav-items ul li a:hover {
    color: var(--primaryColor);
}

.navigation .social-icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
    z-index: 6666;
}

.navigation .social-icons span {
    width: 23.5% !important;
    font-size: 20px;
    text-align: center;
}

.navigation .social-icons a {
    font-size: 30px;
    color: var(--primaryColor);
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.navigation .social-icons a:hover {
    color: var(--black);
}

.banner-video {
    position: relative;
}

.banner-video{
    position: relative;
}
header .web-heading-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;    
}
header h1 {
    width: 100%;
    height: 100%;
    padding: 0px 100px;
    margin: auto auto;
    font-size:66px;
    position: absolute;
    left: 5%;
    top: 0%;
    color: white;
    font-weight: 900;
    justify-content: center;
    margin: 0 auto;
    z-index: ;

}









section h2 {
    width: 80px;
    height: 80px;
    display: flex;
    border: 3px solid var(--primaryColor);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}





/* about section */

.About-section {
    width: 100%;
    margin: 25px 0;
}

.About-section .container-fluid {
    margin: 50px 0;
}

.about-content {
    width: 80%;
    margin: 0 auto;
    padding: 50px 30px;
    border-left: 2px solid var(--primaryColor);
}

.about-content h3 {
    font-size: 36px;

}

.about-content h3 span {
    font-size: 40px;
    color: var(--primaryColor);
    font-weight: 600;
}









/* thinking section */
.thining-section {
    padding: 100px 0;
}

.thinking-image {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.thinking-image img {
    width: 100%;
}

.thinking-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--primaryColor);
    padding-left: 20px;
}

.thinking-text h3 {
    font-size: 76px;
}

.thinking-text p {
    font-size: 24px;
    font-weight: 600;
}









/* work slides  */

.our-work-section {
    margin-top: 100px;
}

.our-work-section .heading {
    width: 40%;
    border-right: 1px solid var(--primaryColor);
}

.work-title h3 {
    font-size: 60px;
}

.work-title p {
    display: flex;
    align-items: center;
    padding: 25px;
    width: 60%;
    font-size: 30px;
}

.lists ul {
    display: flex;
    flex-wrap: wrap;
}

.lists ul li {
    list-style: none;
}

.work-items-slide {
    padding: 50px 0;
    position: relative !important;
}

.work-items-slide .item {
    width: 100%;
    padding: 20px;
}

.work-items-slide iframe {
    width: 100%;
    height: 300px;
}

.owl-nav {
    display: block !important;
    font-size: 48px;
    position: absolute;
    right: 0;
    top: -15%;
}

.owl-nav button {
    width: 60px;
    height: 60px;
    margin: 0px 15px;
    color: white !important;
    background-color: var(--primaryColor) !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.owl-nav button span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}







/* contact details */
.contact-us-section{
    margin: 40px 0;
}
.contact-us-section h2{
    margin-bottom: 25px;
}
.contact-us-section .card {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-us-section .card h3 {
    text-align: center;
}

.contact-us-section .card span:first-child {
    width: 85%;
}

.location {
    display: flex;
    margin-top: 15px;
    text-transform: capitalize;
}



.location li {
    width: 50px;
    list-style: none;
    font-size: 24px;
}
.contact-us-section
.col-md-4:nth-child(1) .card li{
    width: 80px;
  font-size: 24px;
}
.contact-us-section
.col-md-4:nth-child(2) .card .location{
   justify-content: center;
}
.contact-us-section
.col-md-4:nth-child(2) .card .location li{
   font-size: 28px;
}

.location p {
    font-weight: 600 !important;
    font-size: 20px;
    line-height: 28px;
}

.location .fa-location-dot {
    color: brown !important;
}







footer{
    height: 100px;
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
